<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.netdev.allakartor"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <permission android:name="se.netdev.allakartor.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="se.netdev.allakartor.permission.MAPS_RECEIVE"/>

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name=".ApplicationEx">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SitesActivity" />
        <activity android:name=".activities.VenuesActivity" />
        <activity android:name=".activities.VenueActivity" />
        <activity android:name=".activities.ReviewsActivity" />
        <activity android:name=".activities.PicturesActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.WriteReviewActivity" />
        <activity android:name=".activities.CreateUserActivity" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="<Your API Key>"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>
</manifest>
